.root {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  overflow: hidden;
  color: var(--github-font-color);
  box-sizing: border-box;
  border: var(--github-border);
  border-radius: 6px;
  margin: var(--github-container-margin);
  background-color: var(--github-bg-color);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

.box {
  position: relative;
  box-sizing: inherit;
  padding: 16px;
}
