.react-github-theme {
  --github-container-margin: 8px 0;
}

:is([data-theme="light"], .light) :where(.react-github-theme),
:where(.react-tweet-theme) {
  --github-skeleton-gradient: linear-gradient(
    270deg,
    #fafafa,
    #eaeaea,
    #eaeaea,
    #fafafa
  );
  --github-border: 1px solid rgb(208, 215, 222);
  --github-language-border: 1px solid rgba(31, 35, 40, 0.1);
  --github-accent: rgb(9, 105, 218);
  --github-font-color: rgb(101, 109, 118);
}

:is([data-theme="dark"], .dark) :where(.react-github-theme) {
  --github-skeleton-gradient: linear-gradient(
    270deg,
    #15202b,
    rgb(30, 39, 50),
    rgb(30, 39, 50),
    rgb(21, 32, 43)
  );
  --github-border: 1px solid rgb(48, 54, 61);
  --github-language-border: 1px solid rgba(255, 255, 255, 0.2);
  --github-accent: rgb(47, 129, 247);
  --github-font-color: rgb(125, 133, 144);
}

@media (prefers-color-scheme: dark) {
  :where(.react-github-theme) {
    --github-skeleton-gradient: linear-gradient(
      270deg,
      #15202b,
      rgb(30, 39, 50),
      rgb(30, 39, 50),
      rgb(21, 32, 43)
    );
    --github-border: 1px solid rgb(48, 54, 61);
    --github-language-border: 1px solid rgba(255, 255, 255, 0.2);
    --github-accent: rgb(47, 129, 247);
    --github-font-color: rgb(125, 133, 144);
  }
}
